*.o
*.a
*.d

DISK
SWAPDISK
nachos
test/halt
test/hello
test/matmult
test/shell
test/sort
test/prodcons

drivers/drvACIA.cc
drivers/drvACIA.h
drivers/drvConsole.cc
drivers/drvConsole.h
drivers/drvDisk.cc
drivers/drvDisk.h
filesys/directory.cc
filesys/directory.h
filesys/filehdr.cc
filesys/filehdr.h
filesys/filesys.cc
filesys/filesys.h
filesys/fsmisc.cc
filesys/oftable.cc
filesys/oftable.h
filesys/openfile.cc
filesys/openfile.h
kernel/addrspace.cc
kernel/addrspace.h
kernel/copyright.h
kernel/elf32.h
kernel/main.cc
kernel/msgerror.cc
kernel/msgerror.h
kernel/process.cc
kernel/process.h
kernel/scheduler.h
kernel/synch.h
kernel/system.cc
kernel/system.h
kernel/thread.h
machine/ACIA.cc
machine/ACIA.h
machine/ACIA_sysdep.cc
machine/ACIA_sysdep.h
machine/console.cc
machine/console.h
machine/disk.cc
machine/disk.h
machine/interrupt.cc
machine/interrupt.h
machine/machine.cc
machine/machine.h
machine/mipssim.cc
machine/mipssim.h
machine/mmu.cc
machine/mmu.h
machine/sysdep.cc
machine/sysdep.h
machine/timer.cc
machine/timer.h
machine/translationtable.cc
machine/translationtable.h
Makefile
userlib/syscall.h
utility/bitmap.cc
utility/bitmap.h
utility/config.cc
utility/config.h
utility/list.h
utility/objid.h
utility/stats.cc
utility/stats.h
utility/utility.cc
utility/utility.h
vm/pagefaultmanager.cc
vm/pagefaultmanager.h
vm/physMem.cc
vm/physMem.h
vm/swapManager.cc
vm/swapManager.h

Makefile.kernel
Makefile.user
README
doxygen.cfg
test/nachos.cfg
userlib/ldscript.lds
userlib/sys.s
